{% extends "layout_c.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="item" placeholder='item name' type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="quantity" placeholder='Quantity' type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}